@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  body {
    -webkit-text-size-adjust: none; /* none for no scaling */
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  body {
    -webkit-text-size-adjust: none; /* none for no scaling */
  }
}
/* Standard mobile phones */
@media only screen and (max-width: 414px) {
  /* Typohraphy */
  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.5em;
  }
  h4 {
    font-size: 1.3em;
  }
  h5 {
    font-size: 1.2em;
  }
  h6 {
    font-size: 1.1em;
  }
  .full,
  .one_half,
  .one-half,
  .one_three,
  .one-three,
  .one_four,
  .one-four,
  .one_four_first,
  .one_four_last,
  .service,
  .feature,
  .project {
    position: relative;
    width: 100%;
    float: none;
    margin: 0 0 40px 0;
    padding: 0;
  }
  /* Footer */
  .social-icons {
    text-align: center;
  }
  ul.social-icons li {
    margin-bottom: 10px;
  }
  /* custom content */
  .width50,
  .width60,
  .width70,
  .width80 {
    width: 100%;
  }
  /* Drupal core */
  .align-left,
  .align-right {
    float: none;
    clear: both;
    margin: 20px auto;
  }
  /* layout -> Container. */
  .container {
    width: 100%;
    max-width: 414px;
    padding: 0 4px;
  }
  /* Header */
  .mobile-menu {
    display: block;
  }
  .main-menu {
    display: none;
  }
  .active-menu .main-menu {
    display: block;
  }
  .mobile-menu {
    display: block;
    float: right;
  }
  .menu-wrap {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin-left: -1000px;
    background: transparent;
    z-index: 40;
    transition: all 0.4s ease;
  }
  .active-menu .menu-wrap {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 320px;
    height: 100%;
    margin-left: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 40;
    transition: all 0.4s ease;
  }
  .active-menu .menu-wrap ul.main-menu {
    overflow-y: scroll;
  }
  .active-menu .menu-wrap ul.main-menu > li {
    display: block;
    float: none;
  }
  .active-menu .menu-wrap ul.main-menu a {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
  }
  .active-menu .menu-wrap .dropdown-arrow {
    position: absolute;
    right: 10px;
  }
  .active-menu ul.main-menu ul.submenu {
    position: relative;
    display: block;
    top: 0;
    opacity: 1;
  }
  .active-menu ul.main-menu ul.submenu::before,
  .active-menu ul.main-menu ul.submenu::after {
    content: "";
    display: table;
    clear: both;
  }
  .active-menu ul.main-menu ul.submenu li {
    position: relative;
    width: 100%;
    padding: 0 10px;
    background: none;
    text-align: right;
  }
  .active-menu ul.main-menu ul.submenu li a {
    display: block;
    width: 100%;
  }
  .active-menu ul.main-menu li a {
    border-bottom: 1px solid #434343;
  }
  .active-menu .close-mobile-menu {
    position: absolute;
    display: block;
    top: 4px;
    right: 4px;
  }
  /* Slider */
  ul.js-rotating > li {
    width: 100%;
    text-align: center;
  }
  .js-rotating p {
    width: 100%;
    font-size: 1em;
  }
  .slider h1,
  .slider h2 {
  	margin-bottom: 8px;
    font-size: 1.4em;
  }
  .slider h3 {
  	margin-bottom: 6px;
    font-size: 1.2em;
  }
  .search-box-content .block {
    width: 90%;
  }
  .breadcrumb {
    padding: 2px 0;
  }
  .breadcrumb-item-seperator {
    margin: 0 2px;
  }
  /* comment */
  .comment-form-wrap {
    padding: 6px;
  }
}
@media only screen and (max-width: 500px) {
  ul.page-tabs li {
    display: block;
    margin-bottom: 8px;
  }
}
/* Large screen mobile phones */
@media only screen and (min-width: 415px) and (max-width: 500px) {
  /* layout -> Container */
  .container {
    width: 100%;
    max-width: 500px;
    padding: 0 4px;
  }
  /* Header */
  .header-main {
    padding: 4px 4px 0 4px;
  }
}

@media only screen and (min-width: 501px) and (max-width: 767px) {
  /* layout -> Container */
  .container {
    width: 100%;
    max-width: 767px;
    padding: 0 5px;
  }
}
@media only screen and (max-width: 767px) {
  /* typography */
  input[type="text"], 
  input[type="password"], 
  input[type="search"] {
    width: 100%;
  }
	/* Header */
	.page-header {
		padding: 10px 0;
	}
  /* Layout */
  .no-sidebar .main-container,
  .sidebar-left .main-container,
  .sidebar-right .main-container,
  .two-sidebar .main-container {
    grid-template-columns: 1fr;
  }
  #sidebar-left {
    order: 3;
    padding: 0;
  }
  #sidebar-right {
    order: 4;
    padding: 0;
  }
  /* comment */
  .comment-user-picture {
    padding: 0 3px;
    flex: 0 0 50px;
  }
  .comment-user-picture img {
    max-width: 50px;
  }
  .single-comment-content-body {
    padding: 0 5px;
  }
  #node-comment .indented {
    margin-left: 20px;
  }
  /* Footer */
  .footer-blocks {
    grid-auto-flow: row;
  }
  .copyright {
    text-align: center;
  }
}
/* iPad pro, Tablets
------------------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 100%;
    max-width: 1023px;
  }
}

/* Medium Devices, Laptop, Desktop
------------------------------------------------- */
@media only screen and (min-width: 1024px) and (max-width: 1170px) {
  .container {
    width: 100%;
    max-width: 1170px;
  }
}
/* Screen widger than container
------------------------------------------------- */
@media screen and (min-width: 1170px) {
  .container {
    width: 100%;
    max-width: 1170px;
  }
}
